.navContainer {
    max-width: none !important;
    background-color: #122D5D;
    color: white;
}
.miniNavContainer {
    max-width: none !important;
    background-color: #D3D3D3;
}

.logo {
    height: 80px;
    width: 80px;
}