.navContainer {
    max-width: none !important;
    background-color: #122D5D;
}

.navContainer h2 {
	color: white;
	position: relative;
	left: -5%;
}

.logo {
    height: 80px;
    width: 350px;
}

.miniNavContainer {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
    list-style: none;   
    padding-left: 33%;    
}
    
.miniNavContainer li {
    float: left;
    list-style-type: none;
 }

.miniNavContainer li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
        border-right: 1px solid #ccc;
        list-style-type: none; }

.miniNavContainer li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
        border-right: 1px solid #ccc;
        list-style-type: none; }